@{
    ViewData["Title"] = "Download File";
}

<h2>Download File</h2>

<form asp-action="DownloadFile" method="post">
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" name="firstName" required>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" name="lastName" required>
    </div>
    <div class="form-group">
        <label for="fileName">File Name:</label>
        <input type="text" class="form-control" id="fileName" name="fileName" required>
    </div>
    <button type="submit" class="btn btn-primary">Continue</button>
</form>
