@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index" method="post">
    <label for="value">Value:</label><br>
    <input type="text" id="value" name="value"><br>
    <label for="expiryDate">Expiry Date:</label><br>
    <input type="datetime-local" id="expiryDate" name="expiryDate"><br>
    <input type="submit" value="Submit">
</form>
