@model List<Product>
<form asp-action="ProductForm" method="post">
    @for (int i = 0; i < ViewBag.Quantity; i++)
    {
        <label for="name">Назва товару:</label>
        <input type="text" id="name" name="[@i].Name" required>
        <label for="quantity">Кількість:</label>
        <input type="number" id="quantity" name="[@i].Quantity" min="0" required>
        <br />
    }
    <input type="submit" value="Підтвердити">
</form>