@model User
<form asp-action="Register" method="post">
    <label for="name">Ім'я:</label>
    <input type="text" id="name" name="Name" required>
    <label for="age">Вік:</label>
    <input type="number" id="age" name="Age" required>
    <input type="submit" value="Реєстрація">
</form>